body {
	margin: 0px;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.introduction {
	width: 900px;
	margin: auto;
}

.artists{
	margin-top: 100px;
}

.artist_pictures{
	width: 300px;
	height: 300px;
	padding: 5px;
	border-radius: 50%;
	border: 5px solid #7289DA;
	object-fit: cover;
}

.taylor_swift, .doja_cat, .sza {
	display: inline-block;
	margin-right: 25px;
	font-size: 25px;
}

span {
	font-style: italic;
}

.refs {
	padding: 10px;
	background-color: #302c2c;
	text-align: left;
	margin-top: 100px;
}

.refsheading {
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
}

.refsections {
	font-size: 20px;
	margin-top: 35px;
	margin-left: 60px;
}


.apa-reference {
	font-size: 10px;
	padding-left: 36px;
	text-indent: -36px;
}

.textlicence {
	font-size: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}


